.tabledrag-handle {
    width: 28px !important;
    height: 28px !important;
    margin: -0.4em 0.5em 0;
    padding: 0.42em 0.5em;
    background: url(/core/themes/stable/images/core/icons/787878/move.svg) no-repeat 6px 7px;
}


.tabledrag-toggle-weight {
    display: none;
}
